.navbar {
    max-width: 100%;
    background-color: #fcf5eb;
    height: 5rem;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    padding-top: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.FirstBox {
    display: flex;
    flex-direction: row;
}

.NavBarBtm {
    border: black solid 1px;
    height: 70%;
    background-color: #25d366;
    max-width: 50%;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    flex-direction: row;
    margin-right: auto;
}

.NavBarBtm:hover img {
    content: url('./public/whiteArrow.png')
}

.NavBarBtm:hover {
    animation: NavBtmAnim 1s ease-out;
    -webkit-animation: NavBtmAnim 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes NavBtmAnim {
    from {
        background-color: #25d366;
        color: black;
    }
    to {
        background-color: black;
        color: white;
    }
}

.DownloadBtmTextbox {
    margin: 40px;
    cursor: pointer;
    flex-direction: row;
    display: flex;
}

.DownloadImg {
    max-width: 15px;
    height: 15px;
    position: relative;
    top: 19px;
    left: 12px;
}

.CenterWordsContainer {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-right: 240px;
}

.WhatsAppWord {
    margin-right: 2%;
    cursor: pointer;
}

.WhatsAppPic {
    position: relative;
    height: 50%;
    max-width: 8%;
    margin-right: auto;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 5rem;
    margin-top: .5rem;
}

.CenterWords {
    margin-right: 40px;
    cursor: pointer;
    font-size: 17px;
}

.CenterWords:hover .WhatsAppWordDev {
    transition: max-width 1s ease-in-out;
    -webkit-transition: max-width 1s ease-in-out;
    -moz-transition: max-width 1s ease-in-out;
    -ms-transition: max-width 1s ease-in-out;
    -o-transition: max-width 1s ease-in-out;
    max-width: 100%;
}

.WhatsAppWord:hover .WhatsAppWordDev {
    animation-name: WhatsAppWordDevAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes WhatsAppWordDevAnim {
    from {
        max-width: 0%;
    }
    to {
        max-width: 100%;
    }
}

.WhatsAppWordDev {
    background-color: #25d366;
    max-width: 0%;
    height: 3px;
    position: relative;
    bottom: 18px;
}

.AiOutlineMenu{
    visibility: hidden;
    position: absolute;
    display: inline;

}




@media screen and (max-width:876px){
    .navbar {
    max-width: 100%;
    background-color: #fcf5eb;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    
    padding-top: 14px;
    position: fixed;
    top: 0;

    z-index: 5;
}

    
.DownloadBtmTextbox p{
    visibility: hidden;
}
.NavBarBtm{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    grid-row-start: 4;
    grid-row-end: 3;
}

.DownloadImg {
    max-width: 1rem;
    height: 1rem;
    position: relative;
    left: 2rem;
}
.WhatsAppWord{
    visibility:hidden;
    position: absolute;
}
.CenterWordsContainer{
    visibility: hidden;
    position: absolute;
}

.WhatsAppPic {
    position: absolute;
    height: 2rem;
    max-width: 5rem;
    cursor: pointer;
    
    margin-right: 43%;
    margin-top: .5rem;
}
.AiOutlineMenu{
    visibility:visible;
  
    height: 4rem;
    
    max-width: 4rem;

    
   

    grid-column-start: 3;
    grid-column-end: 4;
    left: 1rem;
    
  

 
    

}

    
}