.Maincontainer {
    background-color: #fcf5eb;
    height: 30%;
    max-width: 100%;
    margin-top: 70px;
}

.motherPicClass {
    max-width: 95%;
    height: 40rem;
    margin-left: 2.5%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.MotherPicText {
      font-size: 4em;
   
    position: absolute;
    top: 12rem;
    margin-left: 15%;
    color: white;
}

.MotherSubtitle {
     font-size: 1rem;
    position: absolute;
    top: 26rem;
    margin-left: 15%;
    color: white;
    font-weight: 1rem;
    
}

.DownloadBtm {
    position: absolute;
    top: 33rem;
    margin-left: 15%;
    border: black solid 1px;
    height: 3.5rem;
    background-color: #25d366;
    max-width: 11rem;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 0;
}

.DownloadBtm:hover {
    animation: NavBtmAnimInMiddel .5s ease-out;
    -webkit-animation: NavBtmAnimInMiddel .5s ease-out;
    animation-fill-mode: forwards;
}

.DownloadBtmTextboxMiddleOfPage {
    margin: 40px;
    cursor: pointer;
    flex-direction: row;
    display: flex;
}

.imgOfMidlleBtm {
    max-width: 15px;
    height: 15px;
    position: absolute;
    top: 19px;
    right: 10px;
}

@keyframes NavBtmAnimInMiddel {
    from {
        background-color: #25d366;
        color: black;
    }
    to {
        background-color: white;
        color: black;
    }
}

.Good_morning_pic_class {
    max-width: 30%;
    position: absolute;
    top: 10rem;
    left: 57%;
}

.steaker_pic_class {
    max-width: 30%;
    position: absolute;
    top: 11rem;
    left: 57%;
}

.Record_pic_class {
    max-width: 30%;
    position: absolute;
    top: 16rem;
    left: 57%;
}

.chatBetween_pic_class {
    max-width: 30%;
    position: absolute;
    top: 24rem;
    left: 57%;
}
@media screen and (max-width:800px) {
    
.motherPicClass {
    max-width: 95%;
    height: 15rem;
    margin-left: 2.5%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
    .Record_pic_class {
    visibility: hidden;
    
    position: absolute;
 
}
.chatBetween_pic_class {
visibility: hidden;
    
    position: absolute;
}
.MotherPicText {
    font-size: 2em;
   
    position: absolute;
    top: 10rem;
    margin-left: 15%;
    color: white;
  
}
.MotherSubtitle {
     font-size: .5rem;
    position: absolute;
    top: 17rem;
    margin-left: 15%;
    color: white;
    font-weight: 1rem;
    
}
.DownloadBtm {
    position: absolute;
    top: 20rem;
    margin-left: 15%;
    border: black solid 1px;
    height: 2rem;
    background-color: #25d366;
    max-width: 5rem;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 0;
}
.DownloadBtmTextboxMiddleOfPage {
    margin: 2rem;
    cursor: pointer;
    flex-direction: row;
    display: flex;
}
.DownloadBtmTextboxMiddleOfPage p{
   font-size: .5rem;
    position: absolute;
    bottom:  .2rem;
    right: 1.2rem ;
    margin-left: 15%;
    color: black;
    font-weight: 1rem;
}
.imgOfMidlleBtm {
    max-width: .5rem;
    height: .5rem;
    position: absolute;
    top: .7rem;
    right: .3rem ;
}

    
}